<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="StatusPage">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="tests/report" charset="UTF-8"
         yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="tests/coverage.xml"/>
    <log type="junit" target="tests/unittest.xml" logIncompleteSkipped="false"/>
  </logging>
</phpunit>
